body{
    /* background: linear-gradient(145deg, #00aab6, #e0feff, #00aab6) */
    background: linear-gradient(180deg, #e0feff, #00bdca, #e0feff)
}

/* #team{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
} */

/* h1, p, .fs-4{
  color: white;
} */

/* .btn-custom-green {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  .btn-custom-green:hover {
    background-color: #45a049;
  } */
  